@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  letter-spacing: 10px;
  text-decoration: none;
  color: #ebebeb;
}

.show-counter .countdown {
  line-height: 2.5rem;
  padding: 0 2rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.danger {
  color: #ff0000;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}
